#projects {
    display: flex;
    position: relative;
    margin: 0 auto;
    align-items: center;
    padding-bottom: 40px;
}

.project > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.project-img {
    max-width: 100%;
    object-fit: cover;
}

.project-video {
    max-width: 100%;
}

.project-header-container {
    margin-left: 10%;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.carousel > div > div > div {
    display: flex;
    cursor: grab;
}

.slideInner___2mfX9 {
    position: relative !important;
}

.slider {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    margin: 0 40px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.slider::-webkit-scrollbar {
    display: none;
}

.project {
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    flex: 1 0 100%;
    gap: 20px;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
}

@media (max-width: 600px) {
    .project-header-container {
        gap: 10px;
    }

    .slider {
        margin: 0 20px;
    }
}