#social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.social-media-links {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.social-media-links div {
    display: flex;
    gap: 5px;
}

.social-links-container {
    margin: 0 40px;
    animation: fade-in-from-right 1s ease-in-out;
}

h6 {
    font-size: 1.2rem;
}

@media (max-width: 600px) {
    .social-links-container {
        margin: 0 20px;
    }

}